/*	------------------------- colors ---------------------------
  deep blue : #002d56;
  navy blue : #011e39;
  light blue : #bfcad5;
  grey : #959599;
  darker_grey: #555560;
  dark_grey : #252530;
  green : #005826;
*/
/*	------------------------- container ------------------------
  i absolutly position the container in the center rather then having it be centered
  using a margin: auto beacuse the div is floated to the left already, to fit with my
  framework for easy float clearing and broweser compatibitliy, and when i absolutly 
  position anything else, they will all nicely be centerd in the content as well... the only negitive 
  caviaut is that if the browser window is shrunk to a width smaller then the width
  of this containing element, the left side will be unviewable.. even upon scrolling..
  but this has an easy fix with javascript..
*/
#container, #jax_container {
  width: 900px;
  overflow: visible;
  left:50%;
  margin-left: -470px;
}
#container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}
#full_screen {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
#jax_container {
  position: absolute;
  z-index: 50;
}
/*	------------------------- logo style ------------------------
  i use an image inside of the h1 tag so that it will show up when it is printed..
  background-images don't show up when printed..
*/
#header h1 {
  float: left;
  position: relative;
  height: 79px;
  width: 161px;
  text-indent: -1000px;
  z-index: 0;
  margin-top: -5px;
}
#header h1 a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#header h1 a img {
  position: absolute;
  top: 0;
  left: 0;
}
/*	------------------------- navigation ------------------------
  i started using lists again i think.. it tecnicaly makes more sense as when you have sub navigation due to 
  the navigation elements now have more proper binding, rather then a loose binding
  
  * archive: i quit using lists for navigations.. i guess technicaly they are still a list of pages in which
  you can accsess.. but it's something i'm currently trying..
*/
.navi {
  position: relative;
  display: block;
  float: left;
}
.navi li {
  display: block;
  float: left;
}
.navi a {
  display: block;
  position: relative;
}
ul.navi.primary {
  float: right;
  clear: right;
  margin: 20px -10px 0 0;
  min-width: 65.5em;
}
ul.navi.primary li {
}
ul.navi.primary li a {
  padding: 5px 10px;
  margin: 2px 0 0 8px;
  font-size:1.6em;
  font-weight: bold;
  color: #252530;
  text-transform: uppercase;
  border: 1px solid #fff;
  white-space: nowrap;
}
ul.navi.primary li a:hover, ul.navi.primary li a.active {
	background-color: #bfcad5;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-color: #002d56;
}
ul.navi.account {
  float: right;
  margin-top: -50px;
  margin-right: -10px;
  font-family: Arial, sans-serif;
}
ul.navi.account li {
  float:right;
}
ul.navi.account li a {
  text-align: right;
  padding: 1px 10px 2px 10px;
  font-size: 1.2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  opacity: .7;
}
ul.navi.account li a:hover {
  opacity: 1;
}
ul.navi.account li a.active {
  text-decoration: underline;
  opacity: 1;
}
#header {
  width: 100%;
}
#content {
  width: 100%;
  padding-top: 10px;
}
#footer {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 1.1em;
  color: #959599;
}
#gallery {
  cursor: pointer;
}
.gallery {
  width: 100%;
  border: 0 solid #005826;
  border-width: 10px 0;
  overflow: hidden;
  margin-bottom: 20px;
  height: 270px;
}
.gallery h6.subtitle {
  background-color: #005826;
	top: 0;
	color: #fff;
	display: block;
	margin: 0;
	opacity: 0.2;
	padding-top: 3px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1;
}
.content .gallery {
  width: 860px;;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.gallery .holder {
  min-width: 50000px;
  left: 0;
  top: 0;
  white-space: nowrap;
}
.gallery .basin img {
  float: left;
}
.gallery img.slider {
  position: absolute;
  top: 75px;
  opacity : .5;
  cursor: pointer;
}
.gallery img.slider.disabled {
  opacity : .2 !important;
  cursor: default;
}

.gallery img.slider.left {
  left: 0;
}
.gallery img.slider.right {
  right: 0;
}
.callout {
  background: transparent url(../images/background/callout.png) no-repeat scroll 50% 0;
}
.callout h3 {
  font-size: 2.2em;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555560;
  white-space: nowrap;
}
.callout p {
  font-family: Arial, sans-serif;
  font-size: 1.1em;
}
.callout strong {
  font-weight: bold;
  color: #252530;
  text-transform: uppercase;
}
hr {
  border-bottom: 1px solid #c2c2cc;
  border-top: 1px solid #fff;
}
a.button {
  display: block;
  text-align: center;
  height: 31px;
  width: 82px;
  margin-top: 10px;
  margin-left: -3px;
  font-size: 1.1em;
  background: transparent url(../images/icons/buttons/blue_button.png) no-repeat scroll 50% 0;
  color: #fff;
  font-family: Arial, sans-serif;
  line-height: 2.3em;
  text-transform: uppercase;
  text-decoration: none;
}
div.content {
  background: transparent url(../images/background/content_highlight.jpg) no-repeat scroll 50% 0;
  margin-bottom: 20px;
  padding: 15px 20px;
  width:860px;
  min-height: 310px;
}
div.content.main {
  background: transparent url(../images/background/content_main.jpg) no-repeat scroll 50% 0;
  min-height: 390px;
}
div.tri_wrap_middle {
  background: transparent url(../images/background/content_highlight_middle.jpg) repeat-y scroll 50% 0;
  padding: 0;
  margin-bottom: 20px;
}
div.tri_wrap_upper {
  background: transparent url(../images/background/content_highlight_upper.jpg) no-repeat scroll 50% 0;
}
div.tri_wrap_lower {
  background: transparent url(../images/background/content_highlight_lower.jpg) no-repeat scroll 50% 100%;
  margin-bottom: 0;
}
div.body {
  width: 490px;
  margin-bottom: 20px;
}
div.column {
  width: 410px;
  margin-bottom: 20px;
}
div.callout {
  width: 290px;
  min-height: 240px;
  padding:  10px 20px;
  margin-bottom: 20px;
  height: 330px;
}
div.column.full {
  width: 100%;
}
div.left {
  margin-right: 20px;
}
div.right {
  margin-left: 20px;
}
div.callout.sponsers {
  background: none;
  min-height: 0;
  width: 250px;
  margin: 20px 0 20px 0;
  padding: 0;
  height: auto;
}
div.link_grid {
  float: right;
  width: 620px;
  padding: 0;
  margin: 30px -30px 0 0;
}

#content.home div.content.main {
  background: transparent url(../images/background/content_main_hack.jpg) no-repeat scroll 50% 0;
  margin-bottom: 0;
}
#content.home div.content.main hr {
  float: left;
  width: 100%;
  margin: 0;
}
#content.home div.callout.left {
  margin-bottom: 0;
}
#content.home div.callout.left a.button {
  margin-top: 5px;
}
#content.home div.deskman h2 {
  font-style: italic;
}
#content.home div.deskman p {
  font-size: 1.8em;
  font-style: italic;
}
#content.home div.pdf_links a {
  display: block;
  font-size: 1.4em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 5px;
}
#content.home div.pdf_links a strong {
  color: #002d56;
}
#content.news div.content a {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}
#content.news div.content a img {
  float: left;
}
#content.news div.content a.first {
  margin-left: 0;
}
#content.news .article_viewer {
  position: absolute;
  top: 320px;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: -1;
}
#content.news.loading {
  background: transparent url(../images/icons/preloader_blk-wht_large.gif) no-repeat scroll 50% 400px;
}
#content.news .article_viewer .window {
  width: 100%;
  overflow: hidden;
  min-height: 400px;
}
#content.news .article_viewer .window img.large_article {
  float: left;
  position: relative;
  cursor: move;
}
#content.news .article_viewer .actions {
  width: 100%;
  padding: 10px 0;
}
#content.news .article_viewer .actions h3 {
  font-size: 2.4em;
  float: left;
  font-style: italic;
}
#content.news .article_viewer .actions h3 strong {
  padding: 0 10px 0 20px;
  font-size:0.8em;
}
#content.news .article_viewer .actions h3 a {
  display: inline-block;
  font-size:0.8em;
  line-height:1.1em;
  margin-right:6px;
  padding:0 5px 2px;
  background-color: #e7e7e7;
  font-style: normal;
  opacity: .7;
}
#content.news .article_viewer .actions h3 a:hover {
  background-color: transparent;
}
#content.news .article_viewer .actions h3 a.active {
  background-color: #d7d7d7;
  opacity: 1;
}
#content.news .article_viewer .actions img.close {
  cursor: pointer;
  float:right;
}
#content.partners .tri_wrap_lower {
  background-image: url(../images/background/content_highlight_lower_sponsers.jpg);
}
#content.partners .sponser_list p {
  float: left;
  margin-right: 80px;
}
#content.partners .sponser_list p.last {
  margin-right: 0;
}
#content.partners div.link_grid {
  margin: 6px -30px 0 0;
}
#content.portfolio div.column {
  cursor: pointer;
}
body.loading {
  background: transparent url(../images/icons/preloader_lue-wht_large.gif) no-repeat scroll 50% 150px;
}
.popin_gallery {
  width: 1028px;
  left: 50%;
  margin-left: -534px;
  overflow: hidden;
  padding: 5px;
  background-color: #fff;
  top: 20px;
  opacity: 0;
  border: 20px solid #005826;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.popin_gallery .wrapper {
  width: 100%;
  overflow: hidden;
}

.popin_gallery img.slider {
  position: absolute;
  top: 275px;
  opacity : .5;
  cursor: pointer;
}
.popin_gallery img.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  cursor: pointer;
}
.popin_gallery img.slider.disabled {
  opacity : .2 !important;
  cursor: default;
}

.popin_gallery img.slider.left {
  left: 0;
}
.popin_gallery img.slider.right {
  right: 0;
}
.popin_gallery .holder {
  width: 100000px;
  white-space: nowrap;
}
.popin_gallery .holder img {
  float: left;
  cursor: pointer;
}